<main class="content">
    <div class="top-info">
        <div class="info">
            <h1>Dashboard</h1>
            <p>Metricas generales del sistema.</p>
        </div>
        
        <div class="kpi-card-blanca" id="kpi-card-1">
            <p>Ganancias</p>
            <h2>{{ gananciasTotales | currency}}</h2>
        </div>

        <div class="kpi-card-blanca">
            <p>Tratamientos Activos</p>
            <h2> totalTratamientos </h2>
        </div>

        <div class="kpi-card-blanca">
            <p>Usuarios Activos</p>
            <h2>{{ totalMascotas }}</h2>
        </div>

        <div class="kpi-card-blanca">
            <p>veterinarios activos</p>
            <h2>{{ totalVeterinariosActivos }}</h2>
        </div>
    </div>
    

    <div class="pie-container">
        <div id="pieTopVeterinarios"></div>
        <div id="pieChart"></div>
        <div id="pieDrogas"></div>
    </div>
    
    <div id="barDrogas"></div>

    <!-- 1. Cantidad total de tratamiento administrados en el último mes -->
    <h2 style="text-align: center;">Cantidad total de tratamientos administrados en el último mes</h2>
    <div class="kpi-card centered">
    <p>{{ totalTratamientosMes }}</p>
    </div>
    <hr>

    <!-- 2. Cantidad de tratamientos por tipo de medicamento administrado (tabla medicamento - cantidad) -->
    <h2 style="text-align: center;">Cantidad de tratamientos por tipo de medicamento administrado en el último mes</h2>
    <div class="centered">
    <table class="small-table">
        <thead>
        <tr>
            <th>Medicamento</th>
            <th>Cantidad Administrada</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tratamiento of tratamientosPorMedicamento">
            <td>{{ tratamiento.medicamento }}</td>
            <td>{{ tratamiento.cantidad }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    <hr>

    <!-- 3. Cantidad de veterinarios activos en la plataforma -->
    <h2 style="text-align: center;">Cantidad de veterinarios activos en la plataforma</h2>
    <div class="kpi-card centered">
    <p>{{ totalVeterinariosActivos }}</p>
    </div>
    <hr>

    <!-- 4. Cantidad de veterinarios inactivos en la plataforma -->
    <h2 style="text-align: center;">Cantidad de veterinarios inactivos en la plataforma</h2>
    <div class="kpi-card centered">
    <p>{{ totalVeterinariosInactivos }}</p>
    </div>
    <hr>

    <!-- 5. Cantidad de mascotas totales en la veterinaria -->
    <h2 style="text-align: center;">Cantidad de mascotas totales en la veterinaria</h2>
    <div class="kpi-card centered">
    <p>{{ totalMascotas }}</p>
    </div>
    <hr>

    <!-- 6. Cantidad de mascotas activas (en tratamiento) en la veterinaria -->
    <h2 style="text-align: center;">Cantidad de mascotas activas (en tratamiento) en la veterinaria</h2>
    <div class="kpi-card centered">
    <p>{{ totalMascotasActivas }}</p>
    </div>
    <hr>

    <!-- 7. Ventas totales de la veterinaria -->
    <h2 style="text-align: center;">Ventas totales</h2>
    <div class="kpi-card centered">
    <p>{{ ventasTotales }}</p>
    </div>
    <hr>

    <!-- 8. Ganancias totales de la veterinaria -->
    <h2 style="text-align: center;">Ganancias totales de la veterinaria</h2>
    <div class="kpi-card centered">
    <p>{{ gananciasTotales | currency}}</p>
    </div>
    <hr>

    <!-- 9. Top 3 tratamientos con más unidades vendidas -->
    <h2 style="text-align: center;">Top 3 tratamientos con más unidades vendidas</h2>
    <div class="centered">
    <ol class ="centered-list">
        <li *ngFor="let tratamiento of topTratamientos">
        {{ tratamiento.nombre }} ({{ tratamiento.unidadesVendidas }} unidades)
        </li>
    </ol>
    <hr>
    </div>

</main>
