<main class="content">
    <div class="info">
    <h1>DASHBOARD DEL ADMINISTADOR</h1>
    <p>Aquí puedes ver estadísticas importantes del sistema.</p>
    </div>

    <div class="kpi-container">
    <!-- Total de Mascotas -->
    <div class="kpi-card">
        <h3>Total de Mascotas</h3>
        <p>{{ totalMascotas }}</p>
    </div>

    <!-- Total de Clientes -->
    <div class="kpi-card">
        <h3>Total de Clientes</h3>
        <p>{{ totalClientes }}</p>
    </div>
    
    <!-- Próximas Citas -->
    <div class="kpi-card">
        <h3>Próximas Citas</h3>
        <p>{{ proximasCitas }}</p>
    </div>

    <!-- Veterinarios Activos -->
    <div class="kpi-card">
        <h3>Veterinarios Activos</h3>
        <p>{{ totalVeterinarios }}</p>
    </div>
    </div>
</main>