<h1>LISTA DE CLIENTES</h1>
<div class="boton-agregar">
    <a routerLink="/cliente/form">
        <button class="botonAgregar" id="btnAgregarCliente">Agregar Cliente</button>
    </a>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Cedula</th>
            <th>Celular</th>
            <th>+</th>
        </tr>
    </thead>
    <tbody *ngIf="clienteList && clienteList.length > 0; else sinClientes">
        <tr *ngFor="let cliente of clienteList">
            <ng-container>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.correo}}</td>
                <td>{{cliente.cedula}}</td>
                <td>{{cliente.celular}}</td>
                <td class="botones">
                    <a routerLink="/cliente/tabla/{{cliente.id}}"><button class="botonDetalle">Ver Detalles</button></a>
                    <a routerLink="/cliente/edit/{{cliente.id}}"><button class="botonEditar">Editar</button></a>
                    <button class="botonEliminar" (click)="eliminarCliente(cliente)">Eliminar</button>
                </td>
            </ng-container>
        </tr>
    </tbody>

    <ng-template #sinClientes>
        <tr>
            <td class="sinClientes" colspan="5">No hay clientes registrados</td>
        </tr>
    </ng-template>

</table>

