<header>
  <div class="header-content">
    <div class="logo">
      <img src="assets/img/LogoClaro.png" class="logoHeader" />
      <h1>PAW CARE</h1>
    </div>
    <nav>
      <ng-container [ngSwitch]="userType">
        <ng-container *ngSwitchCase="'cliente'">
          <a [routerLink]="['/cliente/detail', getUserId()]">PERFIL</a>
          <a class="btnlogout" (click)="logout()">LOGOUT</a>
        </ng-container>
        <ng-container *ngSwitchCase="'veterinario'">
          <a [routerLink]="['/veterinario/perfil', getUserId()]">PERFIL</a>
          <a class="btnlogout" (click)="logout()">LOGOUT</a>
        </ng-container>
        <ng-container *ngSwitchCase="'administrador'">
          <a routerLink="/administrador/dashboard">DASHBOARD</a>
          <a routerLink="/mascotas">LISTA DE MASCOTAS</a>
          <a routerLink="/clientes">LISTA DE CLIENTES</a>
          <a routerLink="/veterinarios">LISTA DE VETERINARIOS</a>
          <a class="btnlogout" (click)="logout()">LOGOUT</a>
        </ng-container>
        <ng-container *ngSwitchCase="'noauth'">
          <a routerLink="/home">INICIO</a>
          <div class="btn-container">
            <a class="btnlogin" routerLink="/login">Iniciar Sesión</a>
            <a class="btnsignup" routerLink="/cliente/crear-cuenta">Registrarse</a>
          </div>
        </ng-container>
      </ng-container>
    </nav>
  </div>
</header>
