<h1>LISTA DE VETERINARIOS</h1>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Especialidad</th>
            <th># de atenciones</th>
            <th>+</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let veterinario of veterinarioList">
            <ng-container>
                <td>{{veterinario.nombre}}</td>
                <td>{{veterinario.cedula}}</td>
                <td>{{veterinario.especialidad}}</td>
                <td>{{veterinario.numAtenciones}}</td>
                <td class="botones">
                    <a routerLink="/veterinario/detail/{{veterinario.id}}"><button class="botonDetalle">Ver Detalles</button></a>
                    <a routerLink="/veterinario/edit/{{veterinario.id}}"><button class="botonEditar">Editar</button></a>
                    <!--<button class="botonEliminar" (click)="eliminarCliente(cliente)">Eliminar</button>-->
                    <button class="botonEliminar">Eliminar</button>
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>