<h1>LISTA DE VETERINARIOS</h1>
<div class="boton-agregar">
    <a routerLink="/veterinario/form">
        <button class="botonAgregar">Agregar Veterinario</button>
    </a>
</div>
<table class="tabla">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
            <th>Especialidad</th>
            <th># de atenciones</th>
            <th>+</th>
        </tr>
    </thead>
    <tbody *ngIf="veterinarioList && veterinarioList.length > 0; else sinVeterinarios">
        <tr *ngFor="let veterinario of veterinarioList">
            <ng-container>
                <td>{{veterinario.nombre}}</td>
                <td>{{veterinario.cedula}}</td>
                <td>{{veterinario.especialidad}}</td>
                <td>{{veterinario.numAtenciones}}</td>
                <td class="botones">
                    <a routerLink="/veterinario/detail/{{veterinario.id}}"><button class="botonDetalle">Ver Detalles</button></a>
                    <a routerLink="/veterinario/edit/{{veterinario.id}}"><button class="botonEditar">Editar</button></a>
                    <button class="botonEliminar" (click)="eliminarVeterinario(veterinario)">Eliminar</button>
                </td>
            </ng-container>
        </tr>
    </tbody>

    <ng-template #sinVeterinarios>
        <tr>
            <td class="sinVeterinarios" colspan="5">No hay veterinarios registrados</td>
        </tr>
    </ng-template>
</table>