<form (ngSubmit)="addTratamiento()">
    <div class="tratamiento-form">

        <input type="number" name="id" id="id" [(ngModel)]="formTratamiento.id" hidden>

        <label for="fecha">Fecha:</label>
        <input id="fecha" name="fecha" type="date" [(ngModel)]="formTratamiento.fecha" required/>

        <label for="descripcion">Descripción:</label>
        <input id="descripcion" name="descripcion" type="text" [(ngModel)]="formTratamiento.descripcion" />

        <label for="nombreDroga">Droga:</label><br>
        <select id="nombreDroga" name="nombreDroga" type="text" [(ngModel)]="formTratamiento.nombredroga" required>
            <option *ngFor="let droga of drogas" [value]="droga.nombre">{{ droga.nombre }}</option>
        </select>

        <p>Mascota tratada:</p>
        <!-- Mostrar el nombre de la mascota seleccionada -->
        <div class="info-mascota" *ngIf="mascotaSeleccionada">
            <p>Nombre: {{ mascotaSeleccionada.nombre }}</p>
            <p>Enfermedad: {{ mascotaSeleccionada.enfermedad }}</p>
            <p>Edad: {{ mascotaSeleccionada.edad }}</p>
        </div>
        
        

        <input type="number" name="cedulaVeterinario" id="cedulaVeterinario" [(ngModel)]="formTratamiento.cedulaVeterinario" hidden>
    
        <button class="botonAgregar">Asignar Tratamiento</button>
    </div>
</form>
