    <main class="content">
        <ng-container *ngIf="mascota">
            <section class="macotaCLASS">
                <div class="mascota-info">
                    <div>
                        <h1>{{mascota.nombre}}</h1>
                        <img src="{{mascota.imagen}}" class="imagenMascota">
                        <p>Peso: {{mascota.peso}}kg</p>
                        <p>Raza: {{mascota.raza}}</p>
                        <p>Enfermedad: {{mascota.enfermedad}}</p>
                        <p>Edad: {{mascota.edad}}</p>
                        <p>Estado: {{mascota.estado}}</p>
                        <p *ngIf="mascota.estado === 'En tratamiento'" >Droga suministrada: {{droga.nombre}}</p>
                        <button routerLink="/mascota/historial/{{mascota.id}}" class="botonHistorial">Historial medico</button>
                    </div>
                </div>
              </section>
            </ng-container>
      </main>
