<div class="container">
  <div class="left-section">
    <img
      src="assets/img/husky.jpg"
      alt="Imagen de Mascota"
      class="mascot-image"
    />
  </div>
  <div class="right-section">
    <h1 class="txtIniciarSesion">Inicio de Sesión</h1>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
        id="cedula"
        name="cedula"
        [(ngModel)]="formUser.cedula"
        placeholder="Cédula"
        maxlength="9"
        pattern="\d*"
        title="Ingrese solo números"
        required
      />
      <input
        type="text"
        id="clave"
        name="clave"
        [(ngModel)]="formUser.clave"
        placeholder="Contraseña"
        required
      />

      <!-- Checkboxes for user roles -->
      <div>
        <label>
          <input
            type="radio"
            name="rol"
            [value]="'cliente'"
            (change)="selectRole('cliente')"
          />
          Cliente
        </label>
        <label>
          <input
            type="radio"
            name="rol"
            [value]="'veterinario'"
            (change)="selectRole('veterinario')"
          />
          Veterinario
        </label>
        <label>
          <input
            type="radio"
            name="rol"
            [value]="'administrador'"
            (change)="selectRole('administrador')"
          />
          Administrador
        </label>
      </div>

      <button type="submit" id="btnIngresar">Ingresar</button>
    </form>
    <span>
      No tienes cuenta?
      <a routerLink="/cliente/crear-cuenta">Regístrate</a>
    </span>
  </div>
</div>
