<div class="contentUsuario">
    <div class="info-usuario">
        <ng-container *ngIf="veterinario">
        <h1 class="username">{{veterinario.nombre}}</h1>
        <img src="{{veterinario.imagen}}" class="imagenUsuario">
        <div class="info-container">
            <p><span>Cédula - </span>{{veterinario.cedula}}</p>
            <p><span>Especialidad - </span>{{veterinario.especialidad}}</p>
            <p><span>Atenciones - </span>{{veterinario.numAtenciones}}</p>
        </div>
        </ng-container>
    </div>
    <div class="tabla-container">
        <button><a routerLink="/tratamiento/form">Registrar Tratamiento</a></button>
        <h2>MASCOTAS EN TRATAMIENTO</h2>
        <table class="tabla">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    <th>Droga</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tratamiento of tratamientos">
                    <td>{{tratamiento.fecha}}</td>
                    <td>{{tratamiento.descripcion}}</td>
                    <td class="botones">
                        <a routerLink="/tratamiento/detail/{{tratamiento.id}}"><button class="botonDetalles">Ver Detalles</button></a>
                    </td>
                </tr>
        </table>
    </div>
</div>

