<div class="contentUsuario">
    <div class="info-usuario">
      <ng-container *ngIf="veterinario">
        <h1 class="username">{{veterinario.nombre}}</h1>
        <img src="{{veterinario.imagen}}" class="imagenUsuario">
        <div class="info-container">
          <p><span>Cédula - </span>{{veterinario.cedula}}</p>
          <p><span>Especialidad - </span>{{veterinario.especialidad}}</p>
          <p><span>Atenciones - </span>{{veterinario.numAtenciones}}</p>
        </div>
        <div class="botonesVET">
            <button (click)="mostrarTabla('mascotas')" class="botonToggle">Mascotas en espera<img src="assets/img/perroEnfermo.png" class="iconoBoton" alt="MASCOTAS"></button>
            <button (click)="mostrarTabla('tratamientos')" class="botonToggle">Tratamientos activos<img src="assets/img/perroTratamiento.png" alt="TRATAMIENTO"></button>
        </div>
        <!-- Botones para alternar entre Mascotas y Tratamientos -->
      </ng-container>
    </div>
  
    <div class="tabla-container">
      <!--<button><a routerLink="/tratamiento/form">Registrar Tratamiento</a></button>-->        
      <h2 *ngIf="tablaActual === 'mascotas'">MASCOTAS EN OBSERVACIÓN</h2>
      <h2 *ngIf="tablaActual === 'tratamientos'">MASCOTAS EN TRATAMIENTO</h2>
  
      <!-- Tabla de Mascotas en Observación -->
      <table *ngIf="tablaActual === 'mascotas'" class="tabla">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Raza</th>
            <th>Enfermedad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mascota of mascotasEnObservacion">
              <td>{{mascota.nombre}}</td>
              <td>{{mascota.raza}}</td>
              <td>{{mascota.enfermedad}}</td>
              <td class="botones">
                <!-- Botón para Registrar Tratamiento -->
                <a routerLink="/tratamiento/form/{{mascota.id}}">
                    <button class="botonDetalles">Asignar Tratamiento</button>
                  </a>
                <!-- Botón para Ver Detalles de la Mascota -->
                <a routerLink="/mascota/detail/{{mascota.id}}">
                  <button class="botonDetalles">Ver Detalles</button>
                </a>
              </td>
            </tr>
          </tbody>       
      </table>
  
      <!-- Tabla de mascotas en tratamiento -->
      <table *ngIf="tablaActual === 'tratamientos'" class="tabla">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Enfermedad</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let mascota of mascotasEnTratamiento">
            <td>{{mascota.nombre}}</td>
            <td>{{mascota.enfermedad}}</td>
            <td>{{mascota.estado}}</td>
            <td class="botones">
              <a routerLink="/mascota/detail/{{mascota.id}}"><button class="botonDetalles">Ver Detalles</button></a>
              <a (click)="finalizarTratamiento(mascota)"><button class="botonDetalles">Finalizar Tratamiento</button></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  